{% extends 'header.html' %}
<!--# pil-->
{% block content %}
<table class="table tale-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Contact</th>
        <th>Employee Image</th>
    </tr>
    </thead>
    <tbody>
    {% for employee in employees %}
    <tr>
    <td>{{ employee.eid }}</td>
    <td>{{ employee.ename }}</td>
    <td>{{ employee.eemail }}</td>
    <td>{{ employee.econtact }}</td>
    <td><img src="{{ employee.eimage.url }}" height="200" width="200"></td>
    <td><a href="{% url 'delete' employee.id %}" class="btn btn-danger">Delete</a></td>
    <td><a href="{% url 'update' employee.id %}" class="btn btn-primary">Update</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
        <!--{{ employees.paginator.page_range }}-->
<center>
    <div>
        <span>
            {% if employees.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ employees.previous_page_number }}">&laquo; previous</a>
            {% endif %}

            <span>
                <strong>
                    Page {{ employees.number }} of
                    {{ employees.paginator.num_pages }}
                </strong>
            </span>
            {% if employees.has_next %}
            <a href="?page={{ employees.next_page_number }}">&raquo; next</a>
            <a href="?page={{ employees.paginator.num_pages }}">&raquo;last</a>
            {% endif %}
        </span>
    </div>
</center>
{% endblock %}